@{
    ViewBag.Title = "index";
    var msg = TempData["x"] as String;
    var msg1 = TempData["y"] as String;
}

<div>
    <a href="~/AdminPanel/report">Check Report</a>
    <br />
    <a href="~/AdminPanel/product">Products</a>
    <br />
    <a href="~/AdminPanel/add">Add New Product</a>
    <br />
    <a href="~/AdminPanel/detailCustomer">Customer Info</a>
    <br />
    <a href="~/AdminPanel/manageDisplayImages">set Range of Display Images</a>

</div>
