  @model AddTemplateToMVC4.Models.product
				<div id="contents">
				<div id="checkout">
					<h4><span>Checkout</span></h4>
					<table>
						<thead>
							<tr>
								<th>Order no.</th>
								<th>Quantity</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
                                @{String lpath = "/images/"+@ViewBag.x+".jpg";}
								<td><img src="@lpath" alt="Thumbnail" style="width:160px;height:160px"> <b></b>
									<p>
										Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam venenatis cursus gravida. Suspendisse ut ligula tristique velit blandit blandit vel sit amet ipsum. Nam accumsan turpid id mauris fermentum
									</p></td>
								<td><a href="~/Home/checkout" class="minus"></a> <a href="~/Home/checkout" class="plus"></a>
									<input type="text" value="1" class="txtfield"></td>
								<td class="last"><div>
										@Model.unitPrice <a href="~/Home/checkout">Delete</a>
									</div></td>
							</tr> <tr>
						</tbody>
					</table>
					<a href="~/Home/checkout" class="proceed-btn">Proceed to Checkout</a>
				</div>
			</div>
